.login-page {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}

.logo {
  width: 220px;
  padding-bottom: 20px;
}

.login-btn {
  width: 100px;
  padding: 15px 0px;
  text-align: center;
  background-color: var(--color-grey-50);
  border-radius: 50px;
  color: var(--color-grey-900);
  font-weight: 600;
  margin-top: 30px;
  cursor: pointer;
}

@media (min-width: 600px) {
  .logo {
    width: 300px;
  }
  .login-btn {
    width: 200px;
  }
}

@media (min-width: 1000px) {
  .logo {
    width: 450px;
  }
}
