:root {
  /* Grey */
  --color-grey-0: #fff;
  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #111827;

  --color-green-600: #1ed760;
  --color-green-700: #1db954;
  --color-green-700-shadow: #1db954cd;

  --color-blue-400: #1f87e3;
  --color-blue-500: #1c74c2;
  --color-blue-600: #1f5c91;
  --color-blue-700: #264a87;
  --color-blue-800: #2e4670;
  --color-blue-900: #1e2a3e;

  --shadow-sm: 0 4px 16px rgba(0, 0, 0, 0.3);
  --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);

  --main-back-ground: linear-gradient(200deg, #9a1d86, #1595be);

  --border-rad-md: 30px;
}

.main-body {
  height: 100dvh;
  width: 100vw;
  background: var(--main-back-ground);
  display: flex;
}

.outlet-container {
  height: 100%;
  border-top-left-radius: var(--border-rad-md);
  border-bottom-left-radius: var(--border-rad-md);
  background-color: var(--color-blue-900);
  box-shadow: var(--shadow-md);
  background-image: repeating-radial-gradient(
      circle at center left,
      transparent 0,
      var(--color-blue-800) 100px
    ),
    repeating-linear-gradient(#1e2a3e55, var(--color-blue-900));
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 8px;
  box-sizing: border-box;
  transition: border-top-left-radius 0.3s ease,
    border-bottom-left-radius 0.3s ease;

  @media (min-width: 600px) {
    padding: 10px;
  }
}

.flex {
  display: flex;
}

.error {
  font-size: larger;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
